<!DOCTYPE html>
<head>
	<title>Caf-fiend: Login</title>
	<link href="/static/style.css" rel="stylesheet">
</head>

 <body class="login">
    <div class="card">
      <h1 class="Title">Chalk Chase</h1>
      <h2 class="log">Login:</h1>
      <form action="/login" method="POST" class="form">
        <label for="teamname" required>Team name:</label>
        <input type="text" id="teamname" name="teamname" placeholder="e.g. Team 1" required>
        <button type="submit">Login</button>
      </form>
    </div>
  </body>

</html>
